@model BAPapp.Models.Event.EventDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueId)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { eventDate = Model.EventDate }) |
    @Html.ActionLink("Back to List", "Index")
</p>
